@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #3A3ABF;
    --secondary: #48484A;
    --app-sides-margin: 1em;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--secondary);
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 30px #d1d9e6
}

// styles for search modal
.search-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 2;

    .search-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 20%;
        font-weight: 700;
        align-self: center;
        height: 25%;
    
        h1 {
            text-align: center;
            color: var(--theme-color);
        }
    
        p {
            text-align: center;
            font-weight: 300;
        }
    }
    
    .search-input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 50%;
        align-self: center;
        justify-self: center;
        width: 90%;
    
        p {
            font-weight: 300;
            margin-left: 2.5em;
        }
    
        .search-bar {
            form {
                margin-top: 1em;
                display: flex;
        
                input {
                    width: 60%;
                    padding: 0 .25em;
                    font-size: 2rem;
                    border: 5px solid var(--theme-color);
                    color: var(--secondary);
                }
        
            
                label {
                    margin-right: 1em;
                    align-self: center;
                    svg {
                        transform: scale(1.25);
                        fill: var(--theme-color);
                    }
                }
                button {
                    border-style: none;
                    background-color: var(--theme-color);
                    color: white;
                    font-size: 1rem;
                    padding: 1em;
                    text-transform: uppercase;
        
                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        color: var(--theme-color);
                    }
                }
            }
        }
        
    }
}


// end of modal styles

// styles for the weather UI

.weather-container {
    width: 100%;
    height: 100%;
    display: none;
    .weather-header {
        margin-top: 1em;
        margin-left: var(--app-sides-margin);
        margin-right: var(--app-sides-margin);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-icon {
            cursor: pointer;
            background-color: var(--theme-color);
            display: inline-block;
            padding: .75em .75em .5em .75em;
            svg {
                fill: white;
            }

            &:hover {
                background-color: #6161CB;
            }
        }
        span {
            font-size: 1.5rem;
        }
    }

    .weather-main {
        margin-top: 2em;
        .current-temp {
            display: flex;
            justify-content: center;
            align-items: center;

            .temp-now {
                display: inline-block;
                color: var(--theme-color);
                font-size: 72px;
            }
    
            .temp-minmax {
                margin-left: 1em;
                font-weight: 300;
                font-size: 1.5rem;
                display: inline-block;
                
                p:first-child {
                    border-bottom: 1px solid var(--secondary);
                }
            }
        }

        .current-conditions {
            display: flex;
            justify-content: center;
            align-items: center;
            
            span {
                font-size: 1.5rem;
            }
        }
        
    }

    .weather-hourly {
        margin: 2em 0;
        margin-left: var(--app-sides-margin);
        margin-right: var(--app-sides-margin);
        display: flex;
        justify-content: space-between;
        .hour-container {
            text-align: center;
            .hour {

            }
            .temp {
                padding: .5em 0;
                font-weight: 700;
            }
            .conditions {

            }
        }
        .hour-container:nth-child(5),
        .hour-container:nth-child(6) {
            display: none;
        }
    }

    .weather-daily {
        display: flex;
        background-color: var(--theme-color);
        .shorthand {
            width: 50%;
            background-color: white;
            
            .day-container {
                cursor: pointer;
                padding: .75em 1em .75em 0;
                padding-left: var(--app-sides-margin);
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                color: var(--secondary);
                .date {
                    display: inline-block;

                    p:last-child {
                        font-weight: 300;
                    }
                }
                span {
                    font-size: 1.25rem;
                }

                &.active {
                    background-color: var(--theme-color);
                    color: white;
                }

                &:hover {
                    background-color: var(--theme-color);
                    color: white;
                }
            }
        }

        .details-container {
            display: flex;
            flex-direction: column;
            color: white;
            width: 50%;

            .conditions {
                text-align: center;
                margin: 1em 0;
                font-size: 1.25rem;
                font-weight: 300;
            }
            .details {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
                
                .detail {
                    padding-left: 1em;

                    p:first-child {
                        font-weight: 300;
                    }
                    p:last-child {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}