@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --theme-color: #3A3ABF;
  --secondary: #48484A;
  --app-sides-margin: 1em;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--secondary);
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 30px #d1d9e6;
          box-shadow: 0 0 30px #d1d9e6;
}

.search-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.search-modal .search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20%;
  font-weight: 700;
  -ms-flex-item-align: center;
      align-self: center;
  height: 25%;
}

.search-modal .search-header h1 {
  text-align: center;
  color: var(--theme-color);
}

.search-modal .search-header p {
  text-align: center;
  font-weight: 300;
}

.search-modal .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  width: 90%;
}

.search-modal .search-input p {
  font-weight: 300;
  margin-left: 2.5em;
}

.search-modal .search-input .search-bar form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-modal .search-input .search-bar form input {
  width: 60%;
  padding: 0 .25em;
  font-size: 2rem;
  border: 5px solid var(--theme-color);
  color: var(--secondary);
}

.search-modal .search-input .search-bar form label {
  margin-right: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-modal .search-input .search-bar form label svg {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  fill: var(--theme-color);
}

.search-modal .search-input .search-bar form button {
  border-style: none;
  background-color: var(--theme-color);
  color: white;
  font-size: 1rem;
  padding: 1em;
  text-transform: uppercase;
}

.search-modal .search-input .search-bar form button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--theme-color);
}

.weather-container {
  width: 100%;
  height: 100%;
  display: none;
}

.weather-container .weather-header {
  margin-top: 1em;
  margin-left: var(--app-sides-margin);
  margin-right: var(--app-sides-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-container .weather-header .search-icon {
  cursor: pointer;
  background-color: var(--theme-color);
  display: inline-block;
  padding: .75em .75em .5em .75em;
}

.weather-container .weather-header .search-icon svg {
  fill: white;
}

.weather-container .weather-header .search-icon:hover {
  background-color: #6161CB;
}

.weather-container .weather-header span {
  font-size: 1.5rem;
}

.weather-container .weather-main {
  margin-top: 2em;
}

.weather-container .weather-main .current-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .weather-main .current-temp .temp-now {
  display: inline-block;
  color: var(--theme-color);
  font-size: 72px;
}

.weather-container .weather-main .current-temp .temp-minmax {
  margin-left: 1em;
  font-weight: 300;
  font-size: 1.5rem;
  display: inline-block;
}

.weather-container .weather-main .current-temp .temp-minmax p:first-child {
  border-bottom: 1px solid var(--secondary);
}

.weather-container .weather-main .current-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-container .weather-main .current-conditions span {
  font-size: 1.5rem;
}

.weather-container .weather-hourly {
  margin: 2em 0;
  margin-left: var(--app-sides-margin);
  margin-right: var(--app-sides-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-container .weather-hourly .hour-container {
  text-align: center;
}

.weather-container .weather-hourly .hour-container .temp {
  padding: .5em 0;
  font-weight: 700;
}

.weather-container .weather-hourly .hour-container:nth-child(5),
.weather-container .weather-hourly .hour-container:nth-child(6) {
  display: none;
}

.weather-container .weather-daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--theme-color);
}

.weather-container .weather-daily .shorthand {
  width: 50%;
  background-color: white;
}

.weather-container .weather-daily .shorthand .day-container {
  cursor: pointer;
  padding: .75em 1em .75em 0;
  padding-left: var(--app-sides-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: var(--secondary);
}

.weather-container .weather-daily .shorthand .day-container .date {
  display: inline-block;
}

.weather-container .weather-daily .shorthand .day-container .date p:last-child {
  font-weight: 300;
}

.weather-container .weather-daily .shorthand .day-container span {
  font-size: 1.25rem;
}

.weather-container .weather-daily .shorthand .day-container.active {
  background-color: var(--theme-color);
  color: white;
}

.weather-container .weather-daily .shorthand .day-container:hover {
  background-color: var(--theme-color);
  color: white;
}

.weather-container .weather-daily .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 50%;
}

.weather-container .weather-daily .details-container .conditions {
  text-align: center;
  margin: 1em 0;
  font-size: 1.25rem;
  font-weight: 300;
}

.weather-container .weather-daily .details-container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-container .weather-daily .details-container .details .detail {
  padding-left: 1em;
}

.weather-container .weather-daily .details-container .details .detail p:first-child {
  font-weight: 300;
}

.weather-container .weather-daily .details-container .details .detail p:last-child {
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */